<form (ngSubmit)="onSubmit()" #itemForm="ngForm">
  <div class="form-group">
    <label for="name">Item name</label>
    <input type="text" id="name"
           required
           [(ngModel)]="item.name" name="name"
           #newitem="ngModel">
    <div [hidden]="newitem.valid || newitem.pristine">
    </div>
    <div>
      <label for="description">Description</label>
      <input type="text" maxlength="255" id="description"
             required
             [(ngModel)]="item.description" name="description"
             #newdescription="ngModel"
             (ngModelChange)="onModelChange($event)"
             [attr.maxlength]="counter ? maxNumberOfCharacters : ''">
      <div>
        {{numberOfCharacters}} / {{maxNumberOfCharacters}}
      </div>
      <div [hidden]="newdescription.valid || newdescription.pristine">
      </div>
    </div>
    <label for="price">Price</label>
    <input input type="number" min="0.01" step="any" id="price"
           required
           [(ngModel)]="item.price" name="price"
           #newprice="ngModel">
    <div [hidden]="newprice.valid || newprice.pristine">
    </div>
    <label for="stockAmount">Stock amount</label>
    <input input type="number" min="1" id="stockAmount"
           required
           [(ngModel)]="item.amountOfStock" name="amountOfStock"
           #newamountOfStock="ngModel">
    <div [hidden]="newamountOfStock.valid || newamountOfStock.pristine">
    </div>
  </div>
  <button type="submit">Add new item</button>
  <button type="button" (click)="gotoItemList()">Cancel</button>
</form>

